// Design tokens.

$background: #232323;
$foreground: #191a20;

$font-poppins: var(--font-poppins), Arial, Helvetica, sans-serif;
$font-ibm: var(--font-ibm-plex-sans), monospace;
$font-lato: var(--font-lato), monospace;

$color-white: #ffffff;
$color-primary: #ff8310;
$color-charcoal: #393939;
$color-silver: #cccccc;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;

$radius-full: 9999px;
$radius-md: 8px;
